body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
}

.header {
    height: 52px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.menu {
    width: 52px;
    height: 52px;
    border: 1px solid black;
}

.logo {
    width: 52px;
    height: 52px;
}

h1 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 16px;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

.table-body {
    display: flex;
    border: 1px solid gray;

}

.one {
    width: 42px;
    word-wrap: break-word;
    padding: 12px;
}

.two {
    width: 200px;
    word-wrap: break-word;
    padding: 12px;
}

.three {
    width: 218px;
    word-wrap: break-word;
    padding: 12px;
}